<div class="row h-100 my-auto justify-content-center align-items-center flex-column">
  <h1>{{userName}}'s Profile</h1>
  <p>e-mail: {{email}}</p>
  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-white mt-5" id="logout-btn">Log out</button>
  </form>
</div>